streamlit
requests
beautifulsoup4
sqlite3
pandas
regex
smtplib
uuid
plotly
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
pymupdf
pypdf
python-dotenv
tiktoken