streamlit
requests
beautifulsoup4
pandas
plotly
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain_huggingface
faiss-cpu
pymupdf
pypdf
sentence-transformers
python-dotenv
tiktoken
